.rendered-grid-div {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 400px;
  height: 400px;
  background-color: blue;
  margin: 5px;
}

.player-start-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 5px;
}
 
.tile-div {
  border: black solid 1px;
}

.occupied {
  background-color: coral;
}