/* render both grids as per point in game */
.rendered-grid-div {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 400px;
  height: 400px;
  background-color: blue;
  margin: 5px;
}

/* drag and drop fleet ///////////////////////// */
#human-fleet {
  margin-left: 10px;
}
.drag-ship {
  cursor: pointer;
  margin: 2px;
  border: 1px solid black;
  height: 25px;
  background: orangered;
}
#drag-carrier { 
  width: 125px;
}
#drag-battleship {
  width: 100px;
}
#drag-cruiser {
  width: 75px;
}
#drag-submarine {
  width: 75px;
}
#drag-destroyer {
  width: 50px;
}
#drag-frigate {
  width: 50px;
}
#drag-corvette {
  width: 25px;
}
#drag-gunboat {
  width: 25px;
}




/* change player grid display on start */
.player-start-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 5px;
}
 
/* tiles */
.tile-div {
  border: black solid 1px;
}
.occupied {
  background-color: coral;
}
.hit {
background: purple;
}
.miss {
  background: lightblue;
}

/* enemy fleet */
#enemy-fleet {
  margin: 5px;  
}

.fleet-ship {
  margin: 1px;
}

.ship-section {
  display: inline-block;
  margin: 1px;
  border: 1px black solid;
  height: 10px;
  width: 15px;
  background: lightgrey;  
}

.section-hit {
  background: maroon;
}